/* Write your CSS here */
.suggestion-list {
  display: flex;
  justify-content: space-between;
}

.suggestion{
    font-size: 28px;
    font-family: "Roboto";
}

.arrow{
    height: 30px;
    width: 34px;
}